services:
  postgres:
    image: postgres:latest
    container_name: vize_pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: vize
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./vize-be/src/main/resources/sql:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
### NODE_OPTIONS="--no-experimental-webstorage" bun run dev